* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* background: #BD632F; */
}

.home {
  min-height: 100vh;
}

.styleLogo {
  font-family: 'Faster One', cursive;
  font-size: 140px;
  transform: rotate(-5deg);
  color: #2D3047;
  text-shadow: 6px 6px rgb(184, 179, 179);
}

.buttonGame {
  background: #ea5455;
  margin: 10px 0px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  box-shadow: -9px 9px 0px 1px rgba(255,255,255,1);
}

.buttonGame:hover {
  text-decoration: none;
  color: #e5e5e5;
  width: 210px;
  height: 60px;
  padding: 10px;
}

.tableResultTeacher {
  background: rgba(224, 226, 224, 0.1); 
  padding: 20px;
  border-radius: 10px;
}

.tableResult {
  background: rgba(224, 226, 224, 0.1); 
  padding: 20px;
  border-radius: 10px;
}

.landingPage {  
  text-align: center;
  margin-top: 200px;
  background: rgba(224, 226, 224, 0.1); 
  min-height: 30vh;
  padding-top: 30px;
  border-radius: 10px;
}

.formPlay {
  width: 400px;
  height: 350px;
  margin: 0px auto;
  background: #e5e5e5;
  font-size: 20px;
  padding: 30px 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttonLogin {
  background: #ea5455;
  margin: 10px 0px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  box-shadow: -9px 9px 0px 1px rgba(255,255,255,1);
}

.buttonAnswer {
  background: #145374;
  margin: 10px 0px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  box-shadow: -9px 9px 0px 1px rgba(255,255,255,1);
}

.leftCol {
  background: #f6f5f5;
  margin-top: 20px;
  margin-left: 40px;
  border-radius: 10px;
  max-height: 113vh;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(77, 77, 77, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rightCol {
  background: #e5e5e5;
  margin: 20px 30px;
  border-radius: 10px;
  min-height: 500px;
  box-shadow: 0 4px 8px 0 rgba(77, 77, 77, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.questionBox {
  background: #e5e5e5;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(77, 77, 77, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.answerBox {
  padding: 3px 10px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
}

.smallText {
  background: rgb(224, 219, 219);
  padding: 5px;
  color: rgb(70, 69, 69);
}

.quizForm {
  background: #f6f5f5;
  margin: 20px 100px 0px 100px;
  border-radius: 10px;
}

.questionForm {
  background: #f6f5f5;
  margin: 20px 30px 0px 30px;
  padding: 40px;
  border-radius: 10px;
}

.quizForm {
  margin: 30px;
}

.answerResult {
  min-height: 150px;
  min-width: 200px;
  padding: 10px;
  border-radius: 10px;
}